body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;

}



@media(min-width:900px){
    .card:hover{
    margin-top:-10px;
    
    box-shadow: 1px 1px 10px black;
    transition-duration: 0.2s;
    
    }
}

@media(max-width:600px){
    .card{
       margin-left: 10%;
       margin-right: 10%;
    }
}